{% extends 'template.html.twig' %}

{% block title %}
    First
{% endblock %}

{% block pageTitle %}
    First
{% endblock %}

{% block body %}
    <h1> INDEX {{ firstname }} {{ name }}</h1>
    <p>Bonjour Osmose Symfony</p>
    Mon URL absolue est : {{ url('first') }} 
{% endblock %}