{% extends 'template.html.twig' %}

{% block title %}
    Nombre de visite
{% endblock %}

{% block pageTitle %}
    Nombre de visite
{% endblock %}


{% block body %}
        <h1>Bonjour, c'est votre visite numéro : {{ app.session.get('nbVisite') }}</h1>

{% endblock %}