<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% block titreDuDocument %}
                titre par défaut du Document
            {% endblock %}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}">
    </head>
    <body>
        header
        <hr>
        {% block corpsDuDocument %}
            Du contenu par défaut du bloc corpsDuDocument
        {% endblock %}
        <hr>
        footer

        <script src="" async defer></script>
    </body>
</html>