{% extends 'heritage.html.twig' %}

{% block titreDuDocument %}
    Nouveau titre
{% endblock %}

{% block corpsDuDocument %}
    {{
        parent()
    }}
    <ol>
        <li>Nouveau contenu</li>
        <li>j'adore l'heritage dans TWIG</li>
    </ol>
{% endblock %}